@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.inter{
    font-family: "Inter", sans-serif;
    font-style: normal;
}
@font-face {
    font-family: 'Miama';
    src: 
         url('font/Miama.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.miama{
    font-family: 'Miama', sans-serif;
    font-weight: normal;
}

/* shared-styles  */
.flex{
    display: flex;
}
.btn-primary{
    border-radius: 46px;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 8px 20px;
    border:1px solid #111111;
}
.btn-extra{
    padding: 16px 71px;
    border-radius: 42px;
    background-color: #E6533C;
    color: #FFFFFF;
}
.heading-title{
    color: #FFFFFF;
    font-size: 3rem;
}
.heading-desc{
    font-size: 0.9rem;
    color: #b6b2b2;
}
.center{
    text-align: center;
    /* margin: 0px auto; */
}
.black{
    background-color: #111111;
}

/* header-styles */
header{
    height: 715px;
    background: linear-gradient(to bottom, #111111, #777777);
}
.header-items{
    max-width: 1110px;
    margin: 0 auto;
}
/* navbar-styles */
.nav-links{
    /* border:  1px solid #a3a3a3; */
    border-radius: 35px;
    color: #FFFFFF;
    align-items: center;

}
.navbar{
    padding-top: 60px;
    justify-content: space-between;
}
.link-item nav-anc{
    text-decoration: none;  
}
.link-item{
    padding-left: 45px;
    list-style: none;
}
.ext{
    padding-right: 70px;
}
.fit{
    font-weight:bolder;
    font-size: 3.4rem;
    color: #E6533C;
}
/* fit-next */
.fit-next{
    gap: 200px;
}
/* fit-text */
.fit-text{
    max-width: 600px;
    max-height: 440px;
    margin-top: 96px;
}
.fit-title{
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 4.5rem;
    max-width: 520px;
    max-height: 282px;
    line-height: 4.5rem;
}
.fit-desc{
    margin-top: 28px;
    margin-bottom: 28px;
}
.fit-button{
    gap: 14px;
}
.btn-unc{
    padding:16px 48px;
    border-radius: 42px;
    color: #FFFFFF;
    /* font-size: 1.2rem; */
    font-weight:bold;
    background: linear-gradient(to bottom, #9f9999, #777777);
    border:1px solid #111111;
}
/* .ft1{
    color: #FFFFFF;
    font-size: 4.9rem;
} */

/* fit-image */
.fit-img{
    /* max-width: 350px; */
    max-height: 580px;
    width: 100%;
    height: 100%;
    /* mix-blend-mode: multiply; */
}
.card1{
    padding:17px 24px;
    max-width: 150px;
    max-height: 60px;
    background-color: #777777;
}



/* change-your-habits */
.habit{
    padding-top: 100px;
    margin-left: 198px;
    margin-right: 198px;
    padding-bottom: 100px;
}
.habit-image{
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.habit-desc{
    padding-top: 14px;
    padding-bottom: 58px;
}
.habit-title{
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 30px;
}


/* Run-extra */
.run-extra{
    max-width: 1060px;
    max-height: 370px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 100px;
    background-color: #222222;
    gap: 165px;
    border-radius: 18px;
}
.run-text{
    max-width: 445px;
    max-height: 290px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 54px;
}
.run-img{
    max-width: 365px;
    max-height: 310px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.run-image{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.run-desc{
    padding-top: 14px;
    padding-bottom: 34px;
}


/* <<<<......BMI......>>>> */
/* BMI-Heading */
.BMI-Heading{
    max-width: 670px;
    max-height: 120px;
    margin-top: 88px;
    margin-left: 385px;
    margin-right: 385px;
    padding-bottom: 88px;
}

/* BMI-Main-Part */
.BMI-Main-Part{
    max-width: 1440px;
    max-height: 487px;
    padding: 50px 190px;
    gap: 175px;
    align-items: center;
    background-color:rgba(34, 34, 34, 1);
}
.BMI-Table{
    padding-top: 50px;
}
.BMI-Title{
    font-size: 1.8rem;
    color: #FFFFFF;
}
.th-title{
    color: #FFFFFF;
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 20px;
}
/* .tab-desc{
    } */
.td-desc{
    padding: 13px 18px;
}
.BMI-Table{
    max-width: 310px;
    max-height: 216px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */

}
.BMI-Table td{
    border: 0.5px solid rgba(255, 255, 255, 0.5);
}
.BMI-desc{
    padding-top: 14px;
    padding-bottom: 34px;
}
.BMI-btn{
    padding-top: 10px;
}
input[type="text"]{
    width: 180px;
    height: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    border-radius: 8px;
    background-color: #a2929242;
    color: rgba(255, 255, 255, 0.6);
}
select{
    width: 200px;
    height: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 26px;
    border-radius: 8px;
    background-color: #a2929242;
    color: rgba(255, 255, 255, 0.6);
}



/* <<<.....Meet Our Team.....>>>> */
.Meet-Our-Team{
    padding-bottom: 88px;
}
.MOT-heading{
    padding-top: 90px;
    padding-bottom: 60px;
}
.MOT-img-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* padding: 58px 190px 88px  190px; */
    margin-left: 190px;
    margin-right: 190px;
    /* padding-top: 58px;
    padding-bottom: 88px; */
    gap: 20px;
    background-color: rgba(142, 133, 133, 0.2);
    padding: 20px;
    border-radius: 18px;
}
.MOT-desc{
    padding-top: 14px;
}
.MOT-img{
    max-width: 325px;
    max-height: 272px;
}
.MOT-Image{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.MOT-Title{
    color:#FFFFFF;
    font-size: 1.2rem;
}
.MOT-img-desc{
    margin-top: -50px;
    padding-left: 19px;
    padding-bottom: 19px;
}


/* <<<<<......Footer......>>>>> */
.ftr{
    background-color:rgba(34, 34, 34, 1);
    padding-top: 66px;
    padding-left: 190px;
    padding-right: 190px;
    
}
.ftr-main{
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    gap: 105px;
    padding-bottom: 80px;
}
.footer2-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 150px;
}
.fit-hd-desc{
    padding-top: 20px;
}
hr.custom-line {
    border: none; /* Removes the default border */
    height: 3px; /* Sets the height of the line */
    background-color: #4CAF50; /* Sets the color of the line */
    width: 50%; /* Sets the width of the line */
    margin: 20px auto; /* Adds space above and below the line and centers it */
}
.cpr{
    padding-top: 35px;
    padding-bottom: 35px;
}
.footer-title{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
}
.footer-list{
    padding-top: 40px;
}
.footer-list-item{
    padding-top: 20px;
}